body{
        font-family: Arial, sans-serif;
            background: #f4f6f8;
            margin: 0;
            padding: 0;
    }
     .container {
            width: 80%;
            max-width: 900px;
            margin: 50px auto;
            background: rgb(232, 226, 226);
            border-radius: 15px;
            box-shadow: 0 4px 15px rgba(0,0,0,0.1);
            overflow: hidden;
        }

        .header {
            background: #007bff;
            color: white;
            text-align: center;
            padding: 30px;
        }
       .image{
        max-width: 300px;
       }

        .content {
            padding: 30px;
            line-height: 1.8;
             text-align: center;
        }

        h2 {
            color: #ff5e00;
        }
        h1{color:rgb(2, 11, 11);}
        a{color:#ff5e00;}
